
#u3127 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u3128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:transparent;
}
#u3128 {
  position:absolute;
  left:502px;
  top:767px;
  width:20px;
  height:20px;
  font-size:11px;
  color:transparent;
}
#u3129 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u3131 {
  position:absolute;
  left:606px;
  top:687px;
  width:110px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3132 {
  position:absolute;
  left:10px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u3133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3133 {
  position:absolute;
  left:691px;
  top:694px;
  width:16px;
  height:16px;
}
#u3134 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3136 {
  position:absolute;
  left:144px;
  top:687px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3137 {
  position:absolute;
  left:10px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u3138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3138 {
  position:absolute;
  left:219px;
  top:694px;
  width:16px;
  height:16px;
}
#u3139 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3141 {
  position:absolute;
  left:144px;
  top:727px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3142 {
  position:absolute;
  left:10px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u3143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3143 {
  position:absolute;
  left:219px;
  top:734px;
  width:16px;
  height:16px;
}
#u3144 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u3146 {
  position:absolute;
  left:133px;
  top:602px;
  width:250px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3147 {
  position:absolute;
  left:10px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u3148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3148 {
  position:absolute;
  left:358px;
  top:609px;
  width:16px;
  height:16px;
}
#u3149 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3151 {
  position:absolute;
  left:384px;
  top:687px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u3152 {
  position:absolute;
  left:10px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3153 {
  position:absolute;
  left:459px;
  top:694px;
  width:16px;
  height:16px;
}
#u3154 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3155 {
  position:absolute;
  left:384px;
  top:727px;
  width:40px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3156 {
  position:absolute;
  left:0px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u3157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u3157 {
  position:absolute;
  left:424px;
  top:727px;
  width:60px;
  height:30px;
  font-size:11px;
  text-align:right;
}
#u3158 {
  position:absolute;
  left:10px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u3159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3159 {
  position:absolute;
  left:384px;
  top:767px;
  width:40px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3160 {
  position:absolute;
  left:0px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u3161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u3161 {
  position:absolute;
  left:424px;
  top:767px;
  width:60px;
  height:30px;
  font-size:11px;
  text-align:left;
}
#u3162 {
  position:absolute;
  left:10px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:50px;
}
#u3163 {
  position:absolute;
  left:120px;
  top:320px;
  width:620px;
  height:50px;
  text-align:left;
}
#u3164 {
  position:absolute;
  left:10px;
  top:10px;
  width:600px;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:220px;
}
#u3165 {
  position:absolute;
  left:240px;
  top:3695px;
  width:1000px;
  height:220px;
  font-size:14px;
}
#u3166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
